@model CanteenSystem.Dto.Models.UserModel
@using CanteenSystem.Dto.Models

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@using Microsoft.AspNetCore.Authorization
@using IdentityModel;
@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    var isParent = SignInManager.IsSignedIn(User) &&
         User.Claims.Any(c => c.Type == JwtClaimTypes.Role && c.Value == "Parent");
    var isAdmin = SignInManager.IsSignedIn(User) &&
       User.Claims.Any(c => c.Type == JwtClaimTypes.Role && c.Value == "Admin");
    var isStudent = SignInManager.IsSignedIn(User) &&
      User.Claims.Any(c => c.Type == JwtClaimTypes.Role && c.Value == "Student");

    }

<h1>Details</h1>

<div>
    <h4>UserProfile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        @if (isStudent)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RollNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RollNumber)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Department)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsVerified)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditUserProfile" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> 
    <a asp-action="Index" class="btn btn-default">Go to home</a>
</div>
