
@model CanteenSystem.Web.ViewModel.CardModel

@{
    ViewData["Title"] = "Details";
}
<style>
    .main-wrapper {
        padding: 20px;
    }
    .help-block {

        color:red;
    }
    .validation-summary ul {
        list-style-type: none;
        color: white;
        text-align: left;
        padding: 0;
    }
    .inner-div {
        margin: 0 auto;
        width: 500px;
        height: 500px;
       
        color: white;
        background: rgb(2,0,36);
        padding: 15px;
        background: linear-gradient(90deg, rgb(2 0 36 / 25%) 0%, rgba(9,86,121,1) 35%, rgba(0,212,255,1) 100%);
    }
</style>
<div class="main-wrapper">
    <div class="inner-div">
        <div class="help-block"> @Html.ValidationSummary(false)</div>
        <form action="/cards/AddParentFund" method="post">
            <h4>Enter your card details</h4>
            <div class="form-row">

                <label for="Amount">Amount</label>
                @Html.TextBoxFor(x => x.Amount, new { @class = "form-control", @type = "number", @Value = "" })

            </div>
            <div class="form-row">
                <label for="CardNumber">Your Debit Card Number</label>
                @Html.TextBoxFor(x => x.BankCardNumber, new { @class = "form-control", @type = "number", @Value = "" })

            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="ExpiryMonth">Expiry Month</label>
                    @Html.TextBoxFor(x => x.ExpiryMonth, new { @class = "form-control", @type = "number", @Value = "" })
                </div>
                <div class="form-group col-md-6">
                    <label for="ExpiryYear">Expiry Year</label>
                    @Html.TextBoxFor(x => x.ExpiryYear, new { @class = "form-control", @type = "number", @Value = "" })
                </div>
            </div>
            <div class="form-row">
                <label for="CVV">CVV</label>
                @Html.TextBoxFor(x => x.CVV, new { @class = "form-control", @type = "number", @Value = "" })
            </div>
            @Html.HiddenFor(x => x.CardId)
            @Html.HiddenFor(x => x.UserProfileId)

            <hr />
            <div class="text-center">


                <button type="submit" class="btn btn-primary text-center">Confirm</button> 
            </div>

            <script>function goBack() {
                    window.history.back();
                }</script>
        </form>
    </div>
</div> 