@model CanteenSystem.Web.ViewModel.RegisterModel

@{
    ViewData["Title"] = "Register";
    var postUrl = Model.IsAdmin ? "/register/admin" : "/register";
}
<style>


    .register-wrapper {
        padding: 5px;
    }
    .help-block {
        color:red;
    }
    

    .inner-div {
        margin: 0 auto;
        width: 500px;
        height: auto;
        color: white;
        background: rgb(2,0,36);
        padding: 30px;
        background: linear-gradient(90deg, rgb(2 0 36 / 25%) 0%, rgba(9,86,121,1) 35%, rgba(0,212,255,1) 100%);
    }
</style>
<div class="register-wrapper">
    <div class="inner-div">
        <div class="help-block"> @Html.ValidationSummary(false)</div>
        <form action="@(postUrl)" method="post" onsubmit="submitForm()">
            <h4>Register your details</h4>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="Firstname">Firstname</label>
                    @Html.TextBoxFor(x => x.Firstname, new { @class = "form-control", @type = "text"  , @autocomplete = "off" })

                </div>
                <div class="form-group col-md-6">
                    <label for="Lastname">Lastname</label>
                    @Html.TextBoxFor(x => x.Lastname, new { @class = "form-control", @type = "text", @autocomplete = "off" })

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="Email">Email</label>
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @type = "email", @autocomplete = "off" })

                </div>
                <div class="form-group col-md-6">
                    <label for="Password">Password</label>
                    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password", @autocomplete = "off" })

                </div>
            </div>


            @if (!Model.IsAdmin)
            {

                <div class="form-group">
                    <div class="form-check">
                        @if (Model.IsParent)
                        {
                            @Html.TextBoxFor(x => x.IsParent, new
                       {
                           @class = "form-check-input",
                           @type = "checkbox",
                           @onclick = "toggle_validator();",
                           @checked = Model.IsParent
                       })
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.IsParent, new
                                                   {
                                                       @class = "form-check-input",
                                                       @type = "checkbox",
                                                       @onclick = "toggle_validator();",

                            })
                        }
                        <label class="form-check-label" for="IsParent" value="false">
                            Is Parent
                        </label>
                    </div>
                </div>
                if (!Model.IsParent)
                {
                    <div class="form-group" id="DepartmentDiv" style=@(Model.IsParent? "display:none": "display:block")>
                        <label for="Department">Department</label>
                        @Html.TextBoxFor(x => x.Department, new { @class = "form-control", @type = "text", @autocomplete = "off" })

                    </div>
                    <div class="form-group" id="RollnumberDiv" style=@(Model.IsParent? "display:none": "display:block")>
                        <label for="Rollnumber">Rollnumber</label>
                        @Html.TextBoxFor(x => x.Rollnumber, new { @class = "form-control", @type = "number", Value = "", @autocomplete = "off" })
                    </div>
                }
                <div class="form-group" id="StudentEmailDiv" style=@(Model.IsParent? "display:block": "display:none")>
                    <label for="Rollnumber">Student Email</label>
                    @Html.TextBoxFor(x => x.StudentEmail, new { @class = "form-control", @type = "email", @autocomplete = "off" })

                </div>
            }
            @Html.HiddenFor(x => x.IsAdmin)
            <button type="submit" id="RegisterBtn" class="btn btn-primary">Register</button>
            <a  id="CancelBtn" class="btn btn-default" href="javascript:history.back()">Cancel</a> 
        </form>
    </div>

</div>


<script>
    var Rollnumber = document.getElementById("RollnumberDiv");
    var Department = document.getElementById("DepartmentDiv");
    var StudentEmail = document.getElementById("StudentEmailDiv");
    function submitForm() {
        
        document.getElementById("RegisterBtn").disabled = true;
        return true;
    }
    function toggle_validator(e) {

        if (document.getElementById('IsParent').checked) {
            $('#IsParent').val(true);
            Rollnumber.style.display = "none";
            Department.style.display = "none";
            StudentEmailDiv.style.display = "block";
        }
        else {
            $('#IsParent').val(false);
            Rollnumber.style.display = "block";
            Department.style.display = "block";
            StudentEmailDiv.style.display = "none";
        }
    }
</script>

